<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Century Gothic", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
  <a href="#genre">Genre</a>
  <a href="#pop">Pop</a>
  <a href="#rap">Rap</a>
  <a href="#country">Country</a>
  <a href="#dubstep">Dubstep</a>
</div>

<div class="main">
  <h2>Whatever We Want TO FILL IN ON THE RIGHT OF THE SIDEBAR</h2>
  <p>THESE WILL BE OUR CHARTS ON THE RIGHT OF THE SIDEBAR</p>
</div>
   
</body>
</html> 
