<!DOCTYPE html>
<html>
<head>
    <title>Spotify's Greatest Analysis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>

</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="{{ url_for('static', filename='videos/background.mp4') }}" type="video/mp4">
    </video>


    <section>
        <div class="sidenav">
            <a href="Data">Data</a>
            <a href="Pop">Pop</a>
            <a href="HipHop">Hip Hop</a>
            <a href="Country">Country</a>
            <a href="IndiePop">Indie Pop</a>

        </div>
            
    
        <div class="container">
            <div class="box" id="top20list"></div>
            <div class="box" id="my_dataviz"></div>
        </div>
    </section>
    <script>
      
      function createListFromJSON() {
        var dataList = document.getElementById('top20list');
  
       
        fetch('/Data')
          .then(function(response) {
            return response.json();
          })
          .then(function(jsonData) {
            
            jsonData.sort(function(a, b) {
              return b.artist_name - a.artist_name; 
            });
  
            
            var list = document.createElement('ul');
  
            
            var limit = Math.min(jsonData.length, 5); 
            for (var i = 0; i < limit; i++) {
              var item = document.createElement('li');
              item.textContent = jsonData[i].name + ' - Age: ' + jsonData[i].age;
              list.appendChild(item);
            }
  
            
            dataList.appendChild(list);
          })
          .catch(function(error) {
            console.log('Error fetching JSON data:', error);
          });
      }
  
      
      createListFromJSON();
    </script>




    <script>

      
      var margin = {top: 10, right: 100, bottom: 30, left: 30},
          width = 460 - margin.left - margin.right,
          height = 400 - margin.top - margin.bottom;
      
      
      var svg = d3.select("#my_dataviz")
        .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
      
      
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_connectedscatter.csv", function(data) {
      
          
          var allGroup = ["valueA", "valueB", "valueC"]
      
          
          var dataReady = allGroup.map( function(grpName) { 
            return {
              name: grpName,
              values: data.map(function(d) {
                return {time: d.time, value: +d[grpName]};
              })
            };
          });
          
          
      
          
          var myColor = d3.scaleOrdinal()
            .domain(allGroup)
            .range(d3.schemeSet2);
      
          
          var x = d3.scaleLinear()
            .domain([0,10])
            .range([ 0, width ]);
          svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));
      
          
          var y = d3.scaleLinear()
            .domain( [0,20])
            .range([ height, 0 ]);
          svg.append("g")
            .call(d3.axisLeft(y));
      
          
          var line = d3.line()
            .x(function(d) { return x(+d.time) })
            .y(function(d) { return y(+d.value) })
          svg.selectAll("myLines")
            .data(dataReady)
            .enter()
            .append("path")
              .attr("class", function(d){ return d.name })
              .attr("d", function(d){ return line(d.values) } )
              .attr("stroke", function(d){ return myColor(d.name) })
              .style("stroke-width", 4)
              .style("fill", "none")
      
          
          svg
            
            .selectAll("myDots")
            .data(dataReady)
            .enter()
              .append('g')
              .style("fill", function(d){ return myColor(d.name) })
              .attr("class", function(d){ return d.name })
            
            .selectAll("myPoints")
            .data(function(d){ return d.values })
            .enter()
            .append("circle")
              .attr("cx", function(d) { return x(d.time) } )
              .attr("cy", function(d) { return y(d.value) } )
              .attr("r", 5)
              .attr("stroke", "white")
      
          
          svg
            .selectAll("myLabels")
            .data(dataReady)
            .enter()
              .append('g')
              .append("text")
                .attr("class", function(d){ return d.name })
                .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; }) // keep only the last value of each time series
                .attr("transform", function(d) { return "translate(" + x(d.value.time) + "," + y(d.value.value) + ")"; }) // Put the text at the position of the last point
                .attr("x", 12) // shift the text a bit more right
                .text(function(d) { return d.name; })
                .style("fill", function(d){ return myColor(d.name) })
                .style("font-size", 15)
      
          
          svg
            .selectAll("myLegend")
            .data(dataReady)
            .enter()
              .append('g')
              .append("text")
                .attr('x', function(d,i){ return 30 + i*60})
                .attr('y', 30)
                .text(function(d) { return d.name; })
                .style("fill", function(d){ return myColor(d.name) })
                .style("font-size", 15)
              .on("click", function(d){
                
                currentOpacity = d3.selectAll("." + d.name).style("opacity")
                
                d3.selectAll("." + d.name).transition().style("opacity", currentOpacity == 1 ? 0:1)
      
              })
      })
      
      
      </script>


</body>
</html>