
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: "Century Gothic", sans-serif;
  background-color: #333;
}

.fullslide {
  position:absolute;
  width:90%;
  left:175px; 
  top:30px;
}

.slider {
  width: 95%;
  max-width: 95%;
  margin-left: 0;
}

/* style datalist */
input[type=range] + datalist {
  display: block;
  margin-top: -2px;
}
input[type=range] + datalist option {
  display: inline-block;
  width: calc((90% - 12px) / (var(--list-length) - 1));
  text-align: left;
  color:#f1f1f1;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container{
  margin: 40px auto;
  margin-top: 90px;
  margin-left: 21%;
  width:900px;
  height:825px;
  display:grid;
  grid-template-columns: 600px 600px;
  grid-row: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  .box{
    background-color:#1DB954;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:"Century Gothic", sans-serif;
  }

}